		
<div class="card">
	<div class="card-body">	
			<div class="container-fluid row row-cols-1 row-cols-md-3 g-4">
			    <main>
					<h1 [style]="{'text-align': 'center'}">New semester sees many foreign students still shut out</h1>
                    <br>
                    <br>

                
                    As the new semester begins this month in Japan, China, Taiwan and South Korea, local and foreign students are facing continued online teaching and in some cases border restrictions for international students even as vaccine programmes get under way, adding to the uncertainty for students.
                    <br>
                    <br>

                    In Japan, universities are scrambling to respond to the latest government emergency regulations aimed at reducing the latest wave of COVID-19 infections – its fourth wave which began just before the Tokyo Olympic games in July.
                    <br>
                    <br>

                    Higher education management experts say it is a challenge to announce concrete study plans amid constant extensions to the national state of emergency. Universities outside Tokyo are also obliged to follow local municipal safety regulations, adding to variations in information to students, both local and international, about the new semester.
                    <br>
                    <br>
                    <img class="card-img-top" [style]="{'width':'60%','display': 'block', 'margin': '0 auto'}" src="https://www.universityworldnews.com/images/articles/20210909160130427_5.jpg" alt="">

                    
                    <br>
                    <br>
                    With the new wave of infections linked to the more infectious Delta variant, Japan is grappling with an average of almost 2,000 cases across the country daily, which only began to drop in the first week of September. The Tokyo Metropolitan Government has declared an emergency until 12 September and that deadline is now under consideration for further extension.
                    <br>
                    <br>
                    This has resulted in more universities changing their plans at the last moment. Hosei University in Tokyo updated its website explaining that its new measures to resort to more online teaching from 17 September to 2 October are aimed at ensuring the safety of students.
                    <br>
                    <br>
                    Kaetsu University in Tokyo has adopted more online classes – a change from its original plan to hold mostly in-person classes for the first two weeks of the new semester from 24 September to 8 October. A university notice stated it may change its plan and hold all classes online if the number of infections increases in Tokyo. The decision will be made at the end of September.
                </main>
            </div>
    </div>
</div>