		
<div class="card">
	<div class="card-body">	
			<div class="container-fluid row row-cols-1 row-cols-md-3 g-4">
			    <main>
					<div class="row row-cols-1 row-cols-md-3 g-4">
						<div class="col" >
						  <div class="card h-100"><img class="card-img-top" src="https://www.universityworldnews.com/images/articles/20210909160130427_5.jpg" alt="">
							<div class="card-body">
							  <h5 class="card-title" >New semester sees many foreign students still shut out</h5>
							  <p class="card-text">As the new semester begins this month in Japan, China, Taiwan and South Korea, local and foreign students are facing continued online teaching and in some cases border restrictions for international students even as vaccine programmes get under way, adding to the uncertainty for students.</p>
							</div>
						  </div>
						</div>
						<div class="col">
						  <div class="card h-100"><img class="card-img-top" src="https://www.universityworldnews.com/images/articles/20210910154002695_5.jpg" alt="">
							<div class="card-body">
							  <h5 class="card-title">Young leaders plan next steps towards gender equity</h5>
							  <p class="card-text">Eleven students who hail from Ireland, Kenya, Sudan, Mexico, Saudi Arabia and Kyrgyzstan will meet at the Talloires Network’s Next Generation Leaders conference, to discuss recent developments in gender equity and to share their plans for future initiatives, including those necessitated by the COVID-19 crisis.</p>
							</div>
						  </div>
						</div>
						<div class="col">
						  <div class="card h-100"><img class="card-img-top" src="https://www.universityworldnews.com/images/articles/20210906143544798_5.jpg" alt="">
							<div class="card-body">
							  <h5 class="card-title">The university has a role to play in defending democracy</h5>
							  <p class="card-text">In 1974, only about 30 of the world’s independent countries met the criteria of being an electoral democracy. Democracy then had a remarkable 30-year growth spurt across the globe. Democracy seemed to be on the march.</p>
							</div>
						  </div>
						</div>
						<div class="col">
						  <div class="card h-100"><img class="card-img-top" src="https://hcmuni.fpt.edu.vn/Data/Sites/1/News/4378/zing_truong2-(1).jpg" alt="">
							<div class="card-body">
							  <h5 class="card-title">University Halls Vs Private Accommodation: Which Is Best?</h5>
							  <p class="card-text">TIn the UK, most first-year students decide to live either in university halls or private student accommodation, with many students opting to move into private housing in second and third year.</p>
							</div>
						  </div>
						</div>
					  </div>
				</main>
			</div>
				
			
				
	</div>
</div>
